@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(235, 235, 235, 0.7);
  border-radius: 1.6rem;
}
